<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8"> <!--Кодировка-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width">
        <meta name="robots" content="none"> <!--Блокировка поисковиков-->
        <meta name="description" content="Главная страница">
        <meta name="keywords" content="Ключевые слова, для, поисковиков, не
            больше, дватцати слов">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/head.css">
        <link rel="shortcut icon" href="img/favicon.ico">
        <title>Pathfinder 2e справочник</title>
    </head>
    <body>
        <div class="wrapper">
            <section class="content"> <!--Блок с кнопками-->
                <div class="container">
                    <div class="content__row">
                        <div class="content__box">
                            <a href="#">
                                <div class="conten__item">
                                    <p>Народы</p>
                                </div>
                            </a>
                        </div>
                        <div class="content__box">
                            <a href="#">
                                <div class="conten__item">
                                    <p>Происхождение</p>
                                </div>
                            </a>
                        </div>
                        <div class="content__box">
                            <a href="#">
                                <div class="conten__item">
                                    <p>Классы</p>
                                </div>
                            </a>
                        </div>
                        <div class="content__box">
                            <a href="#">
                                <div class="conten__item">
                                    <p>Черты</p>
                                </div>
                            </a>
                        </div>
                        <div class="content__box">
                            <a href="/spells.html">
                                <div class="conten__item">
                                    <p>Мистические</p>
                                </div>
                            </a>
                        </div>
                        <div class="content__box">
                            <a href="#">
                                <div class="conten__item">
                                    <p>Окультные</p>
                                </div>
                            </a>
                        </div>
                        <div class="content__box">
                            <a href="#">
                                <div class="conten__item">
                                    <p>Первобытные</p>
                                </div>
                            </a>
                        </div>
                        <div class="content__box">
                            <a href="#">
                                <div class="conten__item">
                                    <p>Сокральные</p>
                                </div>
                            </a>
                        </div>
                        <div class="content__box">
                            <a href="#">
                                <div class="conten__item">
                                    <p>Оружие</p>
                                </div>
                            </a>
                        </div>
                        <div class="content__box">
                            <a href="#">
                                <div class="conten__item">
                                    <p>Броня</p>
                                </div>
                            </a>
                        </div>
                        <div class="content__box">
                            <a href="#">
                                <div class="conten__item">
                                    <p>Снаряжение</p>
                                </div>
                            </a>
                        </div>
                        <div class="content__box">
                            <a href="#">
                                <div class="conten__item">
                                    <p>Сокровища</p>
                                </div>
                            </a>
                        </div>
                        <div class="content__box">
                            <a href="#">
                                <div class="conten__item">
                                    <p>Бестиарий</p>
                                </div>
                            </a>
                        </div>
                        <div class="content__box">
                            <a href="#">
                                <div class="conten__item">
                                    <p>Механики</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <div class="dividing"> <!--Разделитель-->
                <div class="container">
                    <div class="dividing__line"></div>
                </div>
            </div>
            
        </div>
    </body>
</html>